---
schema: 'drydock/Network/v1'
metadata:
  schema: 'metadata/Document/v1'
  name: oob
  layeringDefinition:
    abstract: false
    layer: site
    parentSelector:
      network_role: oob
      topology: cruiser
    actions:
      - method: merge
        path: .
  storagePolicy: cleartext
data:
  cidr: {{ data.network.get_vlan_data_by_name('oob').subnet[0] }}
  routes:
    - subnet: '0.0.0.0/0'
      gateway: {{ data.network.get_vlan_data_by_name('oob').gateway }}
      metric: 100
  ranges:
    - type: reserved
      start: {{ data.network.get_vlan_data_by_name('oob').reserved_start }}
      end: {{ data.network.get_vlan_data_by_name('oob').reserved_end }}
    - type: static
      start: {{ data.network.get_vlan_data_by_name('oob').static_start }}
      end: {{ data.network.get_vlan_data_by_name('oob').static_end }}
    - type: dhcp
      start: {{ data.network.get_vlan_data_by_name('oob').dhcp_start }}
      end: {{ data.network.get_vlan_data_by_name('oob').dhcp_end }}
...

---
schema: 'drydock/NetworkLink/v1'
metadata:
  schema: 'metadata/Document/v1'
  name: pxe
  layeringDefinition:
    abstract: false
    layer: site
    parentSelector:
      network_role: pxe
      topology: cruiser
    actions:
      - method: merge
        path: .
  storagePolicy: cleartext
data:
  cidr: {{ data.network.get_vlan_data_by_name('pxe').subnet[0] }}
  routes:
    - subnet: '0.0.0.0/0'
      gateway: {{ data.network.get_vlan_data_by_name('pxe').gateway }}
      metric: 100
  ranges:
    - type: reserved
      start: {{ data.network.get_vlan_data_by_name('pxe').reserved_start }}
      end: {{ data.network.get_vlan_data_by_name('pxe').reserved_end }}
    - type: static
      start: {{ data.network.get_vlan_data_by_name('pxe').static_start }}
      end: {{ data.network.get_vlan_data_by_name('pxe').static_end }}
    - type: dhcp
      start: {{ data.network.get_vlan_data_by_name('pxe').dhcp_start }}
      end: {{ data.network.get_vlan_data_by_name('pxe').dhcp_end }}
...

---
schema: 'drydock/Network/v1'
metadata:
  schema: 'metadata/Document/v1'
  name: oam
  layeringDefinition:
    abstract: false
    layer: 'site'
    parentSelector:
      network_role: oam
      topology: cruiser
    actions:
      - method: merge
        path: .
  storagePolicy: cleartext
data:
  cidr: {{ data.network.get_vlan_data_by_name('oam').subnet[0] }}
  {% if data.network.get_vlan_data_by_name('oam').routes %}
  routes:
  {% for route in data.network.get_vlan_data_by_name('oam').routes %}
    - subnet: {{ route }}
      gateway: {{ data.network.get_vlan_data_by_name('oam').gateway }}
      metric: 100
  {% endfor %}
  {% else %}
  routes: []
  {% endif %}
  ranges:
    - type: reserved
      start: {{ data.network.get_vlan_data_by_name('oam').reserved_start }}
      end: {{ data.network.get_vlan_data_by_name('oam').reserved_end }}
    - type: static
      start: {{ data.network.get_vlan_data_by_name('oam').static_start }}
      end: {{ data.network.get_vlan_data_by_name('oam').static_end }}
...

---
schema: 'drydock/Network/v1'
metadata:
  schema: 'metadata/Document/v1'
  name: storage
  layeringDefinition:
    abstract: false
    layer: site
    parentSelector:
      network_role: storage
      topology: cruiser
    actions:
      - method: merge
        path: .
  storagePolicy: cleartext
data:
  cidr: {{ data.network.get_vlan_data_by_name('storage').subnet[0] }}
  ranges:
    - type: reserved
      start: {{ data.network.get_vlan_data_by_name('storage').reserved_start }}
      end: {{ data.network.get_vlan_data_by_name('storage').reserved_end }}
    - type: static
      start: {{ data.network.get_vlan_data_by_name('storage').static_start }}
      end: {{ data.network.get_vlan_data_by_name('storage').static_end }}
...

---
schema: 'drydock/Network/v1'
metadata:
  schema: 'metadata/Document/v1'
  name: calico
  layeringDefinition:
    abstract: false
    layer: site
    parentSelector:
      network_role: calico
      topology: cruiser
    actions:
      - method: merge
        path: .
  storagePolicy: cleartext
data:
  cidr: {{ data.network.get_vlan_data_by_name('calico').subnet[0] }}
  ranges:
    - type: reserved
      start: {{ data.network.get_vlan_data_by_name('calico').reserved_start }}
      end: {{ data.network.get_vlan_data_by_name('calico').reserved_end }}
    - type: static
      start: {{ data.network.get_vlan_data_by_name('calico').static_start }}
      end: {{ data.network.get_vlan_data_by_name('calico').static_end }}
...

---
schema: 'drydock/Network/v1'
metadata:
  schema: 'metadata/Document/v1'
  name: overlay
  layeringDefinition:
    abstract: false
    layer: site
    parentSelector:
      network_role: os-overlay
      topology: cruiser
    actions:
      - method: merge
        path: .
  storagePolicy: cleartext
data:
  cidr: {{ data.network.get_vlan_data_by_name('overlay').subnet[0] }}
  ranges:
    - type: reserved
      start: {{ data.network.get_vlan_data_by_name('overlay').reserved_start }}
      end: {{ data.network.get_vlan_data_by_name('overlay').reserved_end }}
    - type: static
      start: {{ data.network.get_vlan_data_by_name('overlay').static_start }}
      end: {{ data.network.get_vlan_data_by_name('overlay').static_end }}
...
