---
schema: pegleg/CommonAddresses/v1
metadata:
  schema: metadata/Document/v1
  name: common-addresses
  layeringDefinition:
    abstract: false
    layer: site
    parentSelector:
      name: common-addresses-global
    actions:
      - method: replace
        path: .dns.upstream_servers
      - method: merge
        path: .
  storagePolicy: cleartext
  replacement: true
data:
  calico:
    ip_autodetection_method: interface=bond1.{{ data.network.get_vlan_data_by_name('calico').vlan }}
    etcd:
      service_ip: 10.96.232.136
    ip_rule:
      gateway: {{ data.network.get_vlan_data_by_name('calico').gateway }}
      overlap_cidr: 10.96.0.0/15
    bgp:
      ipv4:
        public_service_cidr: {{ data.network.get_vlan_data_by_name('ingress').subnet[0] }}
        ingress_vip: {{ data.network.bgp['ingress_vip'] }}
        peers:
          {% for peer in data.network.bgp['peers'] %}
          - {{ peer }}
          {% endfor %}
  dns:
    service_ip: 10.96.0.10
    upstream_servers:
    {% for server in data.site_info.dns.servers %}
      - {{ server }}
    {% endfor %}
    upstream_servers_joined: {{ data.site_info.dns.__str__() }}
    node_domain: {{ data.site_info.domain | lower }}
    ingress_domain: {{ data.site_info.domain | lower }}

  genesis:
    hostname: {{ data.get_baremetal_host_by_type('genesis')[0].name }}
    ip: {{ data.get_baremetal_host_by_type('genesis')[0].ip.calico }}

  bootstrap:
    ip: {{ data.get_baremetal_host_by_type('genesis')[0].ip.pxe }}

  kubernetes:
    api_service_ip: 10.96.0.1
    etcd_service_ip: 10.96.0.2
    pod_cidr: 10.97.0.0/16
    service_cidr: 10.96.0.0/16

  masters:
  {% for host in data.get_baremetal_host_by_type('controller') %}
    - hostname: {{ host.name }}
  {% endfor %}

  storage:
    ceph:
      public_cidr: {{ data.network.get_vlan_data_by_name('storage').subnet[0] }}
      cluster_cidr: {{ data.network.get_vlan_data_by_name('storage').subnet[0] }}

  neutron:
    tunnel_device: "bond1.{{ data.network.get_vlan_data_by_name('overlay').vlan }}"
    external_iface: "bond1"

  openvswitch:
    external_iface: "bond1"
...

